/* font */

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: PlayfairDisplay-Medium;
  src: url(fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: PlayfairDisplay-SemiBold;
  src: url(fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
font-family: PlayfairDisplay-Italic-VariableFont_wght;
src: url(fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: PlayfairDisplay-VariableFont_wght;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: Raleway-Regular;
  src: url(fonts/Raleway-Regular.ttf);
}
  
@font-face {
font-family: Raleway-Italic;
src: url(fonts/Raleway-Italic.ttf);
}

@font-face {
font-family: Raleway-Light;
src: url(fonts/Raleway-Light.ttf);
}

body {
  font-family: Raleway-Regular;
  padding: 2rem;
  background-color: #f9f7f5;
}

h1, h2{
  font-family: PlayfairDisplay-Medium;
}

h3{
  font-family: PlayfairDisplay-Regular;
}

/* font(end)*/

/* Navigation(start) */
header {
  position: fixed;
  z-index: 101;
  top:0;
  left: 0;
  right: 0;
  background-color: #f9f7f5;
  width: 100%;
  box-shadow: 0 4px 16px #efedec;
}

.container-nav {
  max-width: 900px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#logoimage {
  height: 26px;
}

nav{
  display: table;
}

nav a {
  text-decoration: none;
  color:#7C6354;
}

nav a:hover,
nav a:focus {
  padding-bottom: 6px;
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}


nav li {
  margin-left:1em;
  margin-right:1em;
  position: relative;
  float: left;
}

nav ul li{
  line-height: 40px;
}

nav ul li ul{
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
}

nav ul li ul li{
  float: none;
  margin: 0.8em;
  width: 7em;
  text-align: left;
}

.secondary-style{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
}

nav ul li ul li a:hover{
  font-weight: bold;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li:first-child>a:before{
  content: "";
  display: block;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B86646;
  position: absolute;
  top: -34px;
  left: 37px;
  transform: rotate(180deg);
}
/* Navigation(end) */


/* Content */

.container-content{
  max-width: 900px;
  width: 90%;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 4em;
  margin-top: 7em;
}


.category {
  width:90%;
  max-width: 900px;
  margin: 2em auto;
}

.mug {
  max-width: 100%;
  display: block;
}



.description {
  margin: 2em auto;
  /* display: block; */
  padding-bottom: 1em;
  padding-top: .6em;
  border-top-width: 0.1em;
  /* border-top-style: solid;
  border-top-color: #b86646; */
}

p {
line-height: 1.5rem;
}

h3 {
  font-size: larger;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #b86646;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.in-text-link {
  color:#b86646
}

.in-text-link:hover {
  color:#d79258
}

.in-text-link:focus {
  color:#d79258
}

/* images */

.user_images {
  display: flex;
  margin-top: 1em;
  margin-bottom: 3em;
}

#user1 {
  max-width: 50%;
}

#user2 {
  max-width: 50%;
}

#footer {
  border-top: 1px solid #E3D0B5;
  text-align: center;
}

/* responsive-pages */

@media (max-width:520px) {
  .container-nav {
    text-align: center;
    flex-direction: column;
  }

  .container-content {
    text-align: center;
    flex-direction: column;
  }
  
}




