body {
  font-family:Georgia;
  background-color: #f9f7f5;
}

#logoimage {
  height: 26px;
  margin-left:auto;
  margin-right:auto;
}

header {
  background-color: #f9f7f5;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid #E3D0B5;
  text-align: center;
}

#pickup-location1 {
  position:relative;
}

.location-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  display: grid;
}

.mug {
  max-width: 100%;
  display: block;
}

.description {
  max-width: 900px;
  padding-bottom: 1rem;
  padding-top: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

p {
line-height: 1.5rem;
}

h3 {
  font-style: italic;
  font-size: larger;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #b86646;
}


.imagelink {
  max-width: 100%;
  display: block;
}

.imagelink:hover {
  opacity:0.7; 
}

.imagelink:focus {
  opacity:0.7;
}


.in-text-link {
  color:#b86646
}

.in-text-link:hover {
  color:#d79258
}

.in-text-link:focus {
  color:#d79258
}


.cart_image {
  max-width: 100px;
}


#buy-now{
  height: 50px;
  width: 160px;
  font-size: large;
  font-weight: 600;
  font-family:Georgia;
  color: #ffffff;
  margin-top: 1rem;  
  margin-bottom: 4rem;
  background-color:#b86646;
  border:0px;
  border-radius: 4px;
}

#buy-now:hover {
  background-color:#d79258;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

#apply{
  height: 40px;
  width: 80px;
  font-size: medium;
  font-weight: 500;
  font-family:Georgia;
  color: #ffffff;
  margin-top: 1rem;  
  margin-bottom: 4rem;
  background-color:#b86646;
  border:0px;
  border-radius: 4px;
}

#apply:hover {
  background-color:#d79258;
  transition-property: background-color; 
  transition-duration: 0.5s;
}




#footer {
  border-top: 1px solid #E3D0B5;
  text-align: center;
}

@media (max-width:520px) {
  .container-nav {
    text-align: center;
    flex-direction: column;
  }
  
  .container1 .card {
    max-width: 500px;
  }
  
}


