/* font */

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: PlayfairDisplay-Medium;
  src: url(fonts/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: PlayfairDisplay-SemiBold;
  src: url(fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
font-family: PlayfairDisplay-Italic-VariableFont_wght;
src: url(fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: PlayfairDisplay-VariableFont_wght;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: Raleway-Regular;
  src: url(fonts/Raleway-Regular.ttf);
}
  
@font-face {
font-family: Raleway-Italic;
src: url(fonts/Raleway-Italic.ttf);
}

@font-face {
font-family: Raleway-Light;
src: url(fonts/Raleway-Light.ttf);
}

body {
  font-family: Raleway-Regular;
  padding: 2rem;
  background-color: #f9f7f5;
}

h1, h2{
  font-family: PlayfairDisplay-Medium;
}

h3{
  font-family: PlayfairDisplay-Regular;
}

/* font(end)*/

/* Navigation(start) */
header {
  position: fixed;
  z-index: 101;
  top:0;
  left: 0;
  right: 0;
  background-color: #f9f7f5;
  width: 100%;
  box-shadow: 0 4px 16px #efedec;
}

.container-nav {
  max-width: 900px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#logoimage {
  height: 26px;
}

nav{
  display: table;
}

nav a {
  text-decoration: none;
  color:#7C6354;
}

nav a:hover,
nav a:focus {
  padding-bottom: 6px;
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left:1em;
  margin-right:1em;
  position: relative;
  float: left;
}

nav ul li{
  line-height: 40px;
}

nav ul li ul{
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
}

nav ul li ul li{
  float: none;
  margin: 0.8em;
  width: 7em;
  text-align: left;
}

.secondary-style{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
}

nav ul li ul li a:hover{
  font-weight: bold;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li:first-child>a:before{
  content: "";
  display: block;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B86646;
  position: absolute;
  top: -34px;
  left: 37px;
  transform: rotate(180deg);
}
/* Navigation(end) */


/* Content */

.container-content{
  max-width: 900px;
  width: 90%;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 4em;
  margin-top: 7em;
}

.description {
  margin: 2em auto;
  /* display: block; */
  /* padding-bottom: 1em; */
  padding-top: .6em;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #b86646;
}

/* form */

.container1 {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content:center;
  width: 100%;
}

.container1 .card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  width: 900px;
}

.form-title {
  font-style: italic;
  color: #b86646;
  text-align: center;
  margin-bottom: 2em;
}

.personal-information {
  align-items: center;
}

input[type=text], textarea {
  display: block;
  padding-left: 0.4rem;
  margin: 0.6em;
  font-size: 16px;
  height: 2em;
  width: 800px;
  white-space: pre;
}

input::placeholder {
  font-size: 16px;
  color: #c6c6c5;
}

input:hover, textarea:hover {
  border-color:#b86646;
}

input:focus, textarea:focus {
  outline:none;
  border-color:#b86646;
}


p {
line-height: 1.5rem;
}



.in-text-link {
  color:#b86646
}

.in-text-link:hover {
  color:#d79258
}

.in-text-link:focus {
  color:#d79258
}


/* footer */

#footer {
  border-top: 1px solid #E3D0B5;
  text-align: center;
}

/* responsive-pages */

@media screen and (max-width:798px) {
  .container-nav {
    text-align: center;
    flex-direction: column;
  }

  .container-content .card {
    text-align: center;
    flex-direction: column;
  }

  .container1 {
    justify-content: center;
  }

  input[type=text] {
    max-width: 400px;
  }
  
}


/* interactive-button */

.interactive-button {
  height: 40px;
  width: 120px;
  font-size:14px;
  font-weight: 600;
  color: #ffffff;
  background-color:#b86646;
  border:0px;
  border-radius: 4px;
  justify-content: center;
}

.interactive-button:hover {
  background-color:#d79258;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.submit-button {
  margin: 2em;
  align-self: center;
}

/* Radio with Label[pseudo-element] */
.radio-container {
  display: block;
  padding: 1em;
  text-align: center;
}

/* #commercial-and-partnership-opportunities, #media-and-press-inquiry, #career-at-here {
  margin: auto;
} */

.radio-type {
  appearance: none;
  position: relative;
}

.radio-type:before{
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #7C6354;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}

.radio-type:checked:before{
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #B86646;
  background:#B86646;
  display: inline-block;
  border-radius: 50%;
}

.radio-type:checked:after{
  content: '';
  width: 10px;
  height:5px;
  border: 2px solid white;
  border-top: transparent;
  border-right: transparent;
  text-align: center;
  display: block;
  position: absolute;
  top: 6px;
  left: 5px;
  vertical-align: middle;
  transform: rotate(-45deg);
}

.radio-type:checked+label{
  color: #B86646;
}

/* 
.radio label {
  display: inline-block;
  color: #252626;
  padding: 4px 11px 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="radio"]:checked+label {
  background-color: #252626;
  color: white;
  margin: auto;
} */

label{
  line-height: 20px;
  display: inline-block;
  margin-left: 5px;
  margin-right:15px;
}

/* https://www.jianshu.com/p/e1dac58adb2c */