body {
  font-family:Georgia;
  background-color: #f9f7f5;
}

#logoimage {
  height: 26px;
}

nav a {
  text-decoration: none;
  color:#7C6354;
}

nav a:hover,
nav a:focus {
  padding-bottom: 6px;
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}



header {
  position:fixed;
  top:0;
  background-color: #f9f7f5;
  width: 100%;
  box-shadow: 0 4px 16px #efedec;
}

.container-nav {
  max-width: 900px;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left:1rem;
  margin-right:1rem;
}


nav a:hover, nav a:focus {
  text-decoration: none;
}

.cover {
  width: 100%;
  margin-bottom: 6rem;
}

.cover img {
  width: 100%;
  height: auto;
}

.cover button {
  position: absolute;
  top: 70%;
  left: 75%;
  border:1px solid #b86646;
  color: #b86646;
  background-color: transparent;
  font-size: 16px;
  padding: 12px 36px;
  cursor: pointer;
  border-radius: 4px;
}

.cover button:hover {
  background-color: #b86646;
  transition-property: background-color; 
  transition-duration: 0.5s;
  color:#ffffff;
  position: absolute;
}



.features {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

.feature-text {
  max-width: 440px;
}

#feature-image1 {
  max-width: 450px;
}

#feature-image2 {
  max-width: 450px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  justify-content:center;
  width: 100%;
}

.container .card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  max-width: 250px;
  text-align: center;
}

.mug {
  max-width: 100%;
  display: block;
}



h3 {
  font-size: larger;
  margin-top: 4rem;
  margin-bottom: 3rem;
  color: #b86646;
  text-align: center;
}


.imagelink {
  max-width: 100%;
  display: block;
}

.imagelink:hover {
  opacity:0.7; 
}

.imagelink:focus {
  opacity:0.7;
}


.add_to_cart {
  height: 40px;
  width: 120px;
  font-size:14px;
  font-weight: 600;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #b86646;
  background-color: #ffffff;
  border:1px solid #b86646;
  border-radius: 4px;
}

.add_to_cart:hover {
  background-color:#b86646;
  color:#ffffff;
  transition-property: background-color; 
  transition-duration: 0.5s;
}





#footer {
  border-top: 1px solid #E3D0B5;
  text-align: center;
}

@media (max-width:520px) {
  .container-nav {
    text-align: center;
    flex-direction: column;
  }
  
  .container1 .card {
    max-width: 500px;
  }
  
}


