/* font */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f7f5;
}

h1, h2{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

h3{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

/* font(end)*/


/* Navigation(start) */
header {
  position: fixed;
  z-index: 101;
  top:0;
  left: 0;
  right: 0;
  background-color: #f9f7f5;
  width: 100%;
  box-shadow: 0 4px 16px #efedec;
}

.container-nav {
  max-width: 900px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#logoimage {
  height: 26px;
}

nav{
  display: table;
}

nav a {
  text-decoration: none;
  color:#7C6354;
}

nav a:hover,
nav a:focus {
  padding-bottom: 6px;
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}


nav li {
  margin-left:1em;
  margin-right:1em;
  position: relative;
  float: left;
}

nav ul li{
  line-height: 40px;
}

nav ul li ul{
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
}

nav ul li ul li{
  float: none;
  margin: 0.8em;
  width: 7em;
  text-align: left;
}

.secondary-style{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
  z-index: 120;
}

nav ul li ul li a:hover{
  font-weight: bold;
}

nav ul li:hover ul, .triangle{
  display: block;
}
 
.triangle {
  display: block;
  width: 0;
  height: 0;;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B86646;
  position: relative;
  top: -22px;
  left: 50px;
  z-index: 120;
  transform: rotate(180deg);
  pointer-events: auto;
}

/* .triangle {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #B86646 #f9f7f5 #B86646 #f9f7f5;
  position: absolute;
  top: 18px;
  left: 50px;
  z-index: 120;
  transform: rotate(180deg);
  pointer-events: auto;
} */
/* https://zhuanlan.zhihu.com/p/482361933 */

.triangle::after {
  content: "";
  width: 20px;
  height: 30px;
  background: #f9f7f5;
  position: absolute;
  top: -30px;
  left: -10px;
}

/* Navigation(end) */


/* Content */

.container-content{
  max-width: 900px;
  width: 90%;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 4em;
  margin-top: 7em;
}

.description {
  margin: 2em auto;
  /* display: block; */
  /* padding-bottom: 1em; */
  /* padding-top: .6em; */
  border-top-width: 0.1em;
  /* border-top-style: solid;
  border-top-color: #b86646; */
}

.container1 {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content:left;
  width: 100%;
}

.container1 .card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  max-width: 250px;
}

.img {
  max-width: 100%;
  display: block;
}

p {
line-height: 1.5rem;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #b86646;
}

.in-text-link {
  color:#b86646
}

.in-text-link:hover {
  color:#d79258
}

.in-text-link:focus {
  color:#d79258
}


/* footer */

footer {
  border-top: 1px solid #E3D0B5;
  text-align: center;
}

/* responsive-pages */

@media screen and (min-width:398px) and (max-width:798px) {
  .container-nav {
    text-align: center;
    flex-direction: column;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
  }

  .container-content .card {
    text-align: center;
    flex-direction: column;
  }

  .container1 {
    justify-content: center;
  }

/* hamburger menu in */


.navigation-normal{
  display: none;
}


.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #7C6354; }

.hamburger-box {
  width: 35px;
  height: 15px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 35px;
    height: 3px;
    background-color: #7C6354;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

  .hamburger--3dy .hamburger-box {
    perspective: 80px; 
  }
  
  .hamburger--3dy .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  
  .hamburger--3dy.is-active .hamburger-inner {
    background-color: transparent !important;
    transform: rotateX(-180deg); }
    .hamburger--3dy.is-active .hamburger-inner::before {
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger--3dy.is-active .hamburger-inner::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg); }

    /* https://www.youtube.com/watch?v=LciQi9PMnFY */
}


