/* font */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,300&display=swap');


body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f7f5;
  color: #3B3431;
}

h1, h2{
  font-family: 'Playfair Display', serif;
  color: #3B3431;
}

h3{
  font-family: 'Playfair Display', serif;
  color: #b86646;
  font-size: larger;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #3B3431;
}

p {
  color:#3B3431 ;
}

/* font(end)*/

/* Navigation(start) */
header {
  position: fixed;
  z-index: 101;
  top:0;
  left: 0;
  right: 0;
  background-color: #f9f7f5;
  width: 100%;
  box-shadow: 0 4px 16px #efedec;
}

.container-nav {
  max-width: 900px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#logoimage {
  height: 26px;
}

nav{
  display: table;
}

nav a {
  text-decoration: none;
  color:#7C6354;
}

nav a:hover,
nav a:focus {
  padding-bottom: 6px;
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}


nav li {
  margin-left:1em;
  margin-right:1em;
  position: relative;
  float: left;
}

nav ul li{
  line-height: 40px;
}

nav ul li ul{
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
}

nav ul li ul li{
  float: none;
  margin: 0.8em;
  width: 7em;
  text-align: left;
}

.secondary-style{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
  z-index: 130;
}

nav ul li ul li a:hover{
  font-weight: bold;
}

nav ul li:hover ul, .triangle{
  display: block;
}
 
.triangle {
  display: block;
  width: 0;
  height: 0;;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B86646;
  position: relative;
  top: -22px;
  left: 50px;
  z-index: 120;
  transform: rotate(180deg);
  pointer-events: auto;
}

.triangle::after {
  content: "";
  width: 20px;
  height: 30px;
  background: #f9f7f5;
  position: absolute;
  top: -30px;
  left: -10px;
}

/* Navigation(end) */


/* Content */

.container-content{
  max-width: 900px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 4em;
  margin-top: 10rem;
}


.category {
  width:90%;
  max-width: 900px;
  margin: 2em auto;
}

.mug {
  max-width: 100%;
  display: block;
}



.description {
  margin: auto;
  /* display: block; */
  padding-bottom: 1em;
  padding-top: .6em;
  border-top-width: 0.1em;
  /* border-top-style: solid;
  border-top-color: #b86646; */
}

p {
line-height: 1.5rem;
}

h3 {
  font-size: larger;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #b86646;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.in-text-link {
  color:#b86646
}

.in-text-link:hover {
  color:#d79258
}

.in-text-link:focus {
  color:#d79258
}

/* images */

.user_images {
  display: flex;
}

#user1 {
  max-width: 100%;
}

#footer {
  border-top: 1px solid #E3D0B5;
  text-align: center;
}

/* responsive-pages */

@media (max-width:520px) {
  .container-nav {
    text-align: center;
    flex-direction: column;
  }

  .container-content {
    text-align: center;
    flex-direction: column;
  }
  
}




