/* font */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f7f5;
  color: #3B3431;
}

h1, h2{
  font-family: 'Playfair Display', serif;
  color: #3B3431;
}

h3 {
  font-family: 'Playfair Display', serif;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: #b86646;
  font-size: larger;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-top:2rem;
  margin-bottom: 1rem;
  color: #3B3431;
}

p {
  line-height: 1.5rem;
}

h2 {
  margin-top: 4rem;
}

/* font(end)*/

.container_content {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

section {
  margin-top: 2rem;
}


/* navigation bar */
header {
  text-align: center;
}


.sticky {
  position: sticky;
  top:0;
  background-color: #f9f7f5;
  text-align: center;
  z-index: 400;
  justify-content: center;
}

nav {
  border-bottom: 1px solid #E3D0B5;
}


nav a:hover, nav a:focus {
  text-decoration: none;
}


code {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  display: block;
  max-width: 900px;
}

#imagelink {
  max-width: 30%;
  display: block;
}

#imagelink:hover {
  opacity:0.7; 
}

#imagelink:focus {
  opacity:0.7;
}

li {
  margin-bottom: 1rem;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.in_text_link_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.in-text-link {
  color:#b86646
}

.in-text-link:hover {
  color:#d79258
}

.in-text-link:focus {
  color:#d79258
}

.nav_link_section{
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.button-nav {
  display: inline-block;
  padding: 1rem;
  color: #7C6354;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}

.button-nav1 {
  display: inline-block;
  padding: 1rem;
  color: #7C6354;
  text-decoration: none;
}

.button-nav1:hover, .button-nav1:focus {
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}

/* buttons */
.button_container_1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

input[type="submit"] {
  height: 50px;
  width: 120px;
  font-size: large;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color:#b86646;
  border:0px;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color:#d79258;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

input[type="reset"] {
  height: 50px;
  width: 120px;
  font-size: large;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #b86646;
  background-color:rgb(255, 255, 255);
  border-width: 1px;
  border-color: #b86646;
  border-radius: 4px;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

input[type="reset"]:hover {
  background-color:#b86646;
  color:#ffffff;
}


#buy-now{
  height: 50px;
  width: 140px;
  font-size: large;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color:#b86646;
  border:0px;
  border-radius: 4px;
}

#buy-now:hover {
  background-color:#d79258;
  transition-property: background-color; 
  transition-duration: 0.5s;
}



#apply{
  height: 40px;
  width:100px;
  font-size: medium;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color:#b86646;
  border:0px;
  border-radius: 4px;
}

#apply:hover {
  background-color:#d79258;
  transition-property: background-color; 
  transition-duration: 0.5s;
}


.back-icon {
  width: 16px;
}
  
.in-text-link {
  color:#b86646;
  text-decoration: none;
}
  
.in-text-link:hover {
  color:#d79258
}
  
.in-text-link:focus {
  color:#d79258
}
  

/* buttons (end) */

/* quantity selector */
.quantity_selector {
  height: 48px;
  min-width: 80px;
  max-width: 120px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.quantity_selector span {
  width: 100%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}


.minus {
  background-color: #E3D0B5;
}

.minus:hover {
  background-color:#f4e8d8; 
}

.plus {
  background-color: #E3D0B5;
}

.plus:hover {
  background-color:#f4e8d8; 
}

.num {
  pointer-events: none;
}

/* quantity selector (end) */

/*
.secondary-selector-checked {
  display: inline-block;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #ffffff;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  background-color: #7C6354;
  border-radius: 4px;
}

.secondary-selector-checked:hover, .secondary-selector-checked:focus {
  background-color: #a38c7f;
}


.secondary-selector-unchecked {
  display: inline-block;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #7C6354;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  background-color: #ffffff;
  border-radius: 4px;
}

.secondary-selector-unchecked:hover, .secondary-selector-unchecked:focus {
  background-color: #7C6354;
  color: #ffffff;
}

.second_nav_section a {
  margin-right: 0.6rem;
}
*/

.button_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}


.quantity_selector_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.text_field_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

/* radio button with icons */ 

.radio_button_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}


.icon-delivery {
  width: 18px;
  margin-right: 6px;
}

/* radio button with icons (end) */ 

.image_as_link_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.mug {
  max-width: 100%;
  display: block;
}

/* 
  TEXT ELEMENTS -------------------
*/

.heading_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

#h2_headings {
  margin-top: 0rem;
}

#H3underHeadings {
  font-style: normal;
  color:#000000;
}

.paragraph_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}


.numbered_list_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.main_nav_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.second_nav_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}


/* Navigation Bar with Drop-down Menu */

.navigation-bar-with-drop-down-menu {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.navigation-normal {
  display: flex;
}

.navigation-normal a {
  text-decoration: none;
  color:#7C6354;
}

.navigation-normal a:hover,
.navigation-normal a:focus {
  padding-bottom: 6px;
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}

.navigation-normal ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navigation-normal ul li {
  margin-left:1em;
  margin-right:1em;
  margin-bottom:-0.5em;
  position: relative;
  float: left;
}

.navigation-normal ul li{
  line-height: 40px;
}

.navigation-normal ul li ul{
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
}

.navigation-normal ul li ul li{
  float: none;
  margin: 0.8em;
  width: 7em;
  text-align: left;
}

.secondary-style{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
  z-index: 130;
}

.navigation-normal ul li ul li a:hover{
  font-weight: bold;
}

.navigation-normal ul li:hover ul, .triangle{
  display: block;
}
 
.triangle {
  display: block;
  width: 0;
  height: 0;;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B86646;
  position: relative;
  top: -22px;
  left: 50px;
  z-index: 120;
  transform: rotate(180deg);
  pointer-events: auto;
}

.triangle::after {
  content: "";
  width: 20px;
  height: 30px;
  background: #f9f7f5;
  position: absolute;
  top: -30px;
  left: -10px;
}


/* Mobile Hamburger Navigation */

.mobile-hamburger-navigation {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.navigation-hamburger {
  display: flex;
  position: relative;
  height: 630px;
}

.hidden-content {
  position: relative;
  width: 340px;
  height: 650px;
  background-color: #f9f7f5;
  left: 0px;
  margin-left: -340px;
  z-index: 30;
}

#checkbox-hamburger {
  background-color: #232323;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 40px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle input
{
  display: block;
  width: 50px;
  height: 35px;
  position: absolute;
  top: 30px;
  left: 180px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 100; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 28px;
  height: 4px;
  margin-bottom: 3.5px;
  position: relative;
  top: 46px;
  right: -195px;
  background: #B86646;
  border-radius: 2px;
  z-index: 100;
  transform-origin: 3.5px 4px; 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 2.3px 1.6px; 
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #B86646;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display:grid;
  grid-template-rows: 80px 80px 50px 50px 50px 80px 100px;
  align-items: center;
  font-weight: 600;
  color:#7C6354;
  position: relative;
  width: 300px;
  height: 450px;
  left: 0;
  margin: -50px 0 0 -50px;
  padding-top: 140px;
  background: #FFFFFF;
  z-index: 1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


#menu a {
  text-decoration: none;
  color:#7C6354;
}

#menu li:hover a {
  padding-bottom: 6px;
  font-weight: bold;
  border-bottom: 2px solid #7c6354;
}

#menu li {
  padding: 22px 0;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

nav li {
  margin-left: 3em;
  margin-right: 3em;
}

#hamburger-style-1, #hamburger-style-2, #hamburger-style-3 {
  border-top: solid 1px #E3D0B5;
}

#hamburger-style-1, #hamburger-style-2, #hamburger-style-3 {
  border-top: solid 1px #E3D0B5;
}


/* product cards */

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left:auto;
  margin-right:auto;
  max-width: 900px;

}


.card:hover{
  box-shadow: 0 4px 16px #efd5c9;
  transform: translate(0px,-8px);
}


.card {
  width: 28%;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
  transition: .4s;
  margin: 0.5rem;
  text-align: center;
}


.mug {
  max-width: 250px;
  min-width: 200px;
  min-height: 200px;
  position:relative;
  margin:0 auto;
  display: block;
  text-align: center;  
}

.mug:hover {
  opacity:0.7; 
}

.mug:focus {
  opacity:0.7;
}


.product_list_section {
  max-width: 900px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.add_to_cart {
  height: 40px;
  width: 120px;
  font-size:14px;
  font-weight: 600;
  color: #b86646;
  background-color: #ffffff;
  border:1px solid #b86646;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.add_to_cart:hover {
  background-color:#b86646;
  transition-property: background-color; 
  transition-duration: 0.5s;
  color:#ffffff;
  cursor: pointer;
}

/* product card (end) */

#payment-form {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgb(228, 226, 225);
  max-width: 540px;
}

.payment_form_section {
  max-width: 800px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

#payment-form-title {
  font-size: larger;
  font-weight: bolder;
  margin-bottom:1rem;
}

#radio {
  margin-bottom: 2rem;
}

#other-input {
  padding-top: 1em;
}

/* Radio with Label[pseudo-element] */
input[type="radio"] {
  width:16px;
  height: 16px;
  border: none;
  margin-right: 10px;
}

.radio-container {
  display: block;
  padding: 1em;
  text-align: center;
}

.radio-type {
  appearance: none;
  position: relative;
}

.radio-type:before{
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #7C6354;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}

.radio-type:checked:before{
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #B86646;
  background:#B86646;
  display: inline-block;
  border-radius: 50%;
}

.radio-type:checked:after{
  content: '';
  width: 10px;
  height:5px;
  border: 2px solid white;
  border-top: transparent;
  border-right: transparent;
  text-align: center;
  display: block;
  position: absolute;
  top: 6px;
  left: 5px;
  vertical-align: middle;
  transform: rotate(-45deg);
}

.radio-type:checked+label{
  color: #B86646;
}

/* [Disabled] Radio with Label[pseudo-element] */

.radio-type-disabled {
  appearance: none;
  position: relative;
}

.radio-type-disabled:before{
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  background-color: #e9e9e9;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}


input {
  margin-bottom: 1.5rem;
  margin-top:0.5rem;
  height: 36px;
  width: 500px;
  border-width: 1px;
  border-radius:4px;
  border-style: solid;
  border-color: #c6c6c5;
  font-size:large;
}

input:hover {
  border-color:#b86646;
}

input:focus {
  outline:none;
  border-color:#b86646;
}


.payment-method {
  margin-right:2rem;
}


input::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #c6c6c5;
}

input[type=text] {
  padding-left: 0.4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  max-width: 100%;  
}

input[type=number] {
  padding-left: 0.4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  max-width: 100%;  
}

#payment-form input[type=month] {
  padding-left: 0.4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  max-width: 100%;  
}

#checkout_section {
  max-width: 800px;
  padding-bottom: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #b86646;
}

.checkout_cart {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgb(228, 226, 225);
  max-width: 800px;
  margin-top: 1.5rem;
}

.cart_image {
  height: 100px;
}

.cart_item1 {
  display:flex;
  margin-bottom: 1rem;
}


.cart_item1_image {
  flex:1
}

.cart_item1_name {
  flex:3
}

.cart_item1_price {
  flex:1;
  text-align: right;
}

.cart_item1_amount {
  flex:1;
  text-align: right;
}


.cart_item2 {
  display:flex;
  margin-bottom: 1rem;
}


.cart_item2_image {
  flex:1
}

.cart_item2_name {
  flex:3
}

.cart_item2_price {
  flex:1;
  text-align: right;
}

.cart_item2_amount {
  flex:1;
  text-align: right;
}

.total {
  border-top: 1px #E3D0B5 solid;
  padding-top: 1rem;
  display:flex;
}

.total-amount {
  flex:2
}

.total-price {
  flex:1;
  text-align: right;
}

/* 
  BRANDING IDEAS -------------------
*/
#branding_ideas {
  max-width: 800px;
}


.user_images {
  display: flex;
}

#user1 {
  max-width: 50%;
}

#user2 {
  max-width: 50%;
}

#logo {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* 
  BRANDING COMPONENTS -------------------
*/
#branding_components {
  max-width: 900px;
}

.color_palettes div{
  padding:2rem;
  margin-top:1rem;
}


#palette1 {
  background-color: #E3D0B5;
  font-weight: bolder;
}

#palette2 {
  background-color: #B86646;
  font-weight: bolder;
  color:#ffffff;
}


#palette3 {
  background-color: #7C6354;
  font-weight: bolder;
  color:#ffffff;
}

#palette4 {
  background-color: #635B50;
  font-weight: bolder;
  color:#ffffff;
}

#palette5 {
  background-color: #3b3431;
  font-weight: bolder;
  color:#ffffff;
}

.text-under-palettes {
  font-weight: 200;
}

#moodboard {
  max-width: 100%;  
  display: block;
}

#icons {
  max-width: 100%;  
  display: block;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  width: 400px;
}


#page-structure {
  max-width: 100%;  
  display: block;
}

#citations {
  max-width: 800px;
}


@media only screen and (min-width:300px) and (max-width:560px) {
 
  .cart_image {
    height: 56px;
  }

  .card {
    width: 100%;
  }

  .mug {
    max-width: 96%;
    min-width: 228px;
    min-height: 228px;
    margin:0 auto;
    display: block;
    text-align: center;  
  }
}

@media only screen and (min-width:561px) and (max-width:942px) {

  .card {
    width: 40%;
    position: relative;
  }


  .mug {
    max-width: 96%;
    min-width: 228px;
    min-height: 228px;
    margin:0 auto;
    display: block;
    text-align: center;  
    object-fit:cover;
    object-position: top center;
  }


}
